<footer class="defaultFooter">
    <a href="{{ path('homepage') }}">
        <img class="defaultFooter__logo" src="{{ asset('assets/img/logo.png') }}" alt="">
    </a>
    <ul class="defaultFooter__list">
        <li><a href="{{ path('recipe_list') }}">Recettes</a></li>
        <li><a href="#">Catégories</a></li>
        <li><a href="{{ path('recipe_new') }}">Ecrire une recette</a></li>
    </ul>
    <p class="defaultFooter__copyright">Copyright ©Delice du Japon Inc. Tous droits réservés</p>
</footer>
