<!-- Categories listed with images -->
<ul class="dishCategoriesList">
    {% for dishCategory in dishCategories %}
        <li>
            <img src="{{ asset('assets/img/noodles.png') }}" alt="">
            <a href="{{ path('dish_category_list', {'categoryId': dishCategory.categoryId}) }}">
                <h5>{{ dishCategory.name }}</h5>
            </a>
            <ul class="dishCategoriesList__sublist">
                <li><a href="#">Udon</a></li>
                <li><a href="#">Nouilles fries</a></li>
                <li><a href="#">Ramen</a></li>
            </ul>
        </li>
    {% endfor %}
</ul>
