<br />
<ul>
    {% for dishCategory in dishCategories %}
        <li>
            <a href="{{ path('dish_category_list', { 'dishCategoryId':dishCategory.categoryId }) }}">{{ dishCategory.name }}</a>
        </li>
    {% endfor %}
</ul>