<div class="searchByCol__title">
    <h4>Recherche par plats</h4>
</div>
<ul class="searchByCol__list">
    {% for dishCategory in dishCategories %}
        <li>
            <img src="{{ asset('assets/img/searchByCol1.png') }}" alt="">
            {{ dishCategory.name }}
        </li>
    {% endfor %}
</ul>