{% extends 'admin/templates/default.html.twig' %}

{% block page_id %}{{ parent() }} dashboard{% endblock %}

{% block title %}
    Admin | Home
{% endblock %}

{% block content %}

    <div class="defaultContainer">

        <h2>Dashboard</h2>

    </div>

{% endblock %}
