.defaultHeader {
    background-color: $white;
    border-radius: 5px;
    margin-top: 30px;
    padding: 8px;

    &__container {
        display: flex;
        flex-direction: row;
    }

    &__menu {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}
