.popularProfiles {
    width: 470px;
    margin-left: 10px;

    @include phone {
        margin: auto;
        width: 95vw;
    }
}

.popularProfiles__title {
    color: #59352F;
    font-size: 17px;
    background: #F8F6F0;
    height: 32px;
    line-height: 1.7;
    border-radius: 2px;
    padding: 5px 0 0 5px;

    img {
        width: 25px;
        vertical-align: middle;
        margin: 0 15px;
        display: inline-block;
        vertical-align: middle;
    }

    h2 {
        display: inline-block;
        vertical-align: middle;
    }
}

.popularProfiles__list {
    padding: 20px;
    background: #FFF;

    li {
        overflow: hidden;
        height: 150px;
    }
}

.popularProfiles__imgsContainer {
    overflow: hidden;
    width: 110px;
    height: 110px;
    display: inline-block;
}

.popularProfiles__imgs {
    width: 110px;
    clip-path: circle(50px at 58px 52px);
    display: inline-block;
    vertical-align: top;
}

.popularProfiles__infos {
    display: inline-block;
    vertical-align: top;
    margin: 30px 0 0 20px;
    width: 190px;

    @include phone {
        margin: 10px 0 0 20px;
        width: 35%;
    }
}

.popularProfiles__names {
    letter-spacing: 0.2px;
    color: #59352f;
    font-size: 18px;
}

.popularProfiles__recipes {
    font-size: 14px;
    margin-top: 5px;
    letter-spacing: 0.2px;
    color: #f5a623;
    text-decoration: underline;
}

.popularProfiles__followers {
    font-size: 14px;
    letter-spacing: 0.2px;
    color: #59352f;
    display: inline-block;
    vertical-align: top;
    margin-top: 32px;

    @include phone {
        margin: -40px 0 0 130px;
    }
}
