<header>
    <ul>
        <li><a href="{{ path('dashboard') }}">Dashboard</a></li>
        <li><a href="{{ path('admin_recipe_list') }}">Liste des recettes</a></li>
        <li><a href="{{ path('admin_user_list') }}">Liste des utilisateurs</a></li>
        <li><a href="{{ path('homepage') }}">Retour au site</a></li>
    </ul>
</header>
