body {
    font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    background: url('../img/background.jpg');
    background-size: cover;
}

.globalContentContainer {
    width: 100%;
    max-width: 970px;
    margin: 0 auto;
    color: $brown-buccaneer;
    font-family: Helvetica;
    font-size: 14px;
}

.defaultContainer {
    width: 970px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 33px;

    @include tablet {
        flex-direction: column;
        width: 100vw;
    }

    @include phone {
        flex-direction: column;
        width: 100vw;
    }
}

.mainContent {
    width: 660px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &.profileContent {
        height: auto;
    }

    @include tablet {
        width: 100vw;
        justify-content: center;
    }

    @include phone {
        width: 100vw;
        justify-content: center;
    }

    &.admin {
        flex-direction: column;
    }
}

a {
    text-decoration:none;
}
