/**
 *  COLOR
 *  Use http://chir.ag/projects/name-that-color/
 */

$white: #FFF;
$black: #000;
$gray: #D3D3D3;

$orange-buttercup: #F6A623;
$brown-buccaneer: #59352F;
$green-limeade: #849907;
$white-rock: #E6E0CD;