{% extends 'frontend/templates/default.html.twig' %}

{% block title %}Recipe | Show{% endblock %}

{% block content %}
    <h2> {{ recipe.name }} </h2>
    <p> {{ recipe.description }} </p>
    <p> Temps de préparation : {{ recipe.preparationTime|date('H:i:s') }} </p>
    {{ dump(comments) }}
{% endblock %}
