.recipeCard {
  background-color: $white;
  margin-top:30px;
  border-radius:5px;
  width:652px;
}

.recipeCardHeader {
  padding-top:5px;
  color: $orange-buttercup;
  display:flex;
  justify-content:space-between;
}

.recipeAuthor {
  display:flex;
  align-items:center;
}

.recipeAuthor__img {
  width:50px;
  height:50px;
  background-color:gray;
  border-radius:50%;
}

.recipeAuthor__username {
  margin-left:10px;
  text-decoration:underline;
}

.addToFavorite {
  display:flex;
  align-items:center;
  cursor:pointer;
}

.addToFavorite__text {
  margin-right:10px;
}

.addToFavorite__icon {
  width:23px;
}

.recipeInfos {
  display:flex;
  margin-top:10px;
}

.recipeImage {
  height:300px;
  width:265px;
  background-color:$gray;
  margin-right:15px;
}

.recipeInfosContainer {
  flex:1;

  h2 {
    font-size:24px;
    color:$green-limeade;
    font-weight:500;
  }
}

.recipesInfosContainer__indications {
  display: flex;
}

.recipesInfosContainer__indications li {
  margin-right: 15px;

  img {
    width: 15px;
  }
}


.recipesInfosContainer__ingredients {
  margin-top:15px;

  h3 {
    font-size:21px;
    font-weight:600;
    color:$white-rock;
    margin-bottom:5px;
  }
}

.recipeInstruction {
  margin-top:45px;
  margin-bottom:45px;
}

.comments {
  margin-bottom:10px;
}

.comments__more {
  width:100%;
  height:30px;
  color:$white;
  background-color:$orange-buttercup;
  text-align:center;
  line-height:30px;
  font-weight:600;
}